h1 {
    font-size: 36pt;
    color:rgba(0,0,0,0.8);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
figcaption{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img {
    width: fit-content;

}
article{
    max-width: 700px;
    padding: 10px;
    margin: auto;
}
figure{
    margin: 0;
}
p{
    color: rgba(0,0,0,0.8);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
    letter-spacing: -.003em;
    line-height: 1.58;
}
a{
    color: rgba(0,0,0,0.8)
    
}
a:hover{
    color: rgba(153,153,153,1);
}